.list-Item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #F1F1F1;
    border-radius: 10px;
    margin-top: 1rem;
}
.item-left, .item-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name{
    padding-left: 1rem;
}

.item-right button{
    background-color: #FA7800;
    color: white;
    border-radius: 20px;
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
}
