.student-container{
    margin-inline: 10%;
    margin-top: 1rem;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-left{
    display: flex;
    justify-content:center;
    align-items: center;
}
.top-left span{
    margin-left: 1rem;
}
.bottom{
    margin-top: 2rem;
}